<div class="grayFooter">
  <ion-tabs>
    <ion-tab tabIcon="happy" tabTitle="Home" [root]="tab1Root"></ion-tab>
    <ion-tab tabIcon="trophy" tabTitle="Pagina 1" [root]="tab2Root"></ion-tab>
    <ion-tab tabIcon="ios-archive" tabTitle="Pagina 2" [root]="tab3Root"></ion-tab>
  </ion-tabs>  
</div>
