<ion-header class="blueHeader">
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-2><ion-icon name="ios-menu" menuToggle="left" ></ion-icon></ion-col>
        <ion-col col-8></ion-col>
        <ion-col col-2><ion-icon name="notifications-outline" menuToggle="right"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="product">
    <ion-card-content>
      <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg" class="imgProduct" />
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, vero ratione ad recusandae laboriosam omnis rem, explicabo reiciendis, dolores doloribus nemo dolorum! Architecto cumque, repellat tenetur nemo veritatis, facilis dolorum?</p>
      <div class="gallery">
        <ion-slides slidesPerView="3" spaceBetween="5" autoplay="2000">
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="ios-thumbs-up"></ion-icon>
              <div>15 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (click)="loadCommentsPage()">
              <ion-icon name="text"></ion-icon>
              <div>14  Comentarios</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="product">
    <ion-card-content>
      <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg" class="imgProduct" />
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, vero ratione ad recusandae laboriosam omnis rem, explicabo reiciendis, dolores doloribus nemo dolorum! Architecto cumque, repellat tenetur nemo veritatis, facilis dolorum?</p>
      <div class="gallery">
        <ion-slides slidesPerView="3" spaceBetween="5" autoplay="2000">
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="ios-thumbs-up"></ion-icon>
              <div>15 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (click)="loadCommentsPage()">
              <ion-icon name="text"></ion-icon>
              <div>14  Comentarios</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="product">
    <ion-card-content>
      <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg" class="imgProduct" />
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, vero ratione ad recusandae laboriosam omnis rem, explicabo reiciendis, dolores doloribus nemo dolorum! Architecto cumque, repellat tenetur nemo veritatis, facilis dolorum?</p>
      <div class="gallery">
        <ion-slides slidesPerView="3" spaceBetween="5" autoplay="2000">
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
          <ion-slide>
            <img src="http://conceptodefinicion.de/wp-content/uploads/2015/08/naturaleza-e1439385445458.jpg"/>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="ios-thumbs-up"></ion-icon>
              <div>15 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (click)="loadCommentsPage()">
              <ion-icon name="text"></ion-icon>
              <div>14  Comentarios</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  


</ion-content>
