<ion-menu type="push" [content]="content" side="left" id="menu1">
  <ion-content>
    <ion-list>
      <ion-item>
        Menu 1
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-menu type="push" [content]="content" side="right" id="menu2">
  <ion-content>
    <ion-list>
      <ion-item>
        Menu 2
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
