<ion-header class="blueHeader">

  <ion-navbar>
    <ion-title class="white-text">Comentarios</ion-title>
    <ion-buttons end>
      <button  ion-button icon-only color="blueApp" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
